* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #292929;
}

h4 {
  color: #707070b6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, sans-serif;
}
.cell {
 /* display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;*/
   display: grid;
grid-template-columns: 1fr 1fr ;
gap: 5px; 
}

ul li {
  list-style: none;
}
a {
  color: rgb(161, 221, 221);
  text-decoration: none;
  font-size: small;
}
.cell_block {
    margin-top: 8px;
    margin-bottom: 8px;
  /* background-color: #9ebaf0; */
  /* border: 2px solid white; */
}
.css_tools a {
  color: rgb(112, 96, 180);
}
.ai a {
  color: rgb(112, 196, 182);
}
.free_web_hosting a {
  color: rgba(104, 197, 116, 0.795);
}
.animation_editing a {
  color: rgba(132, 223, 105, 0.795);
}
.dropship_sidehustle a {
  color: rgba(240, 227, 153, 0.795);
}
.tools a {
  color: rgba(204, 125, 135, 0.795);
}
.freelance a {
  color: rgba(179, 245, 239, 0.795);
}
.mockups a {
  color: rgba(170, 162, 235, 0.795);
}
.learning a {
  color: rgba(239, 155, 241, 0.795);
}
